# misc
.idea
.vscode/
/.git
/.gitignore
.DS_Store

# Source code
/src
/test
*.spec.js

# Build configs
.env
.env.*
.env.*.local
/package-lock.json
/tsconfig.json
/tsconfig.build.json

# Builds
/lib/tsconfig.tsbuildinfo
/coverage

# Dependency directories
/node_modules

# Development tools
/.github

