name: Beta

on:
    pull_request:
        types:
          - opened
          - reopened
          - synchronize
        paths:
          - src
          - package.json
          - tsconfig.json

jobs:
    publish-beta:
        name: Publish beta
        runs-on: ubuntu-latest
        environment: publish
        permissions:
            contents: read
            id-token: write
        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Setup Node.js
            uses: actions/setup-node@v4
            with:
                node-version: 24
                registry-url: 'https://registry.npmjs.org'

          - name: Setup beta version
            uses: kearisp/npm-version-action@v0.0.1
            with:
                tag: beta

          - name: Cache dependencies
            uses: actions/cache@v4
            with:
                path: ~/.npm
                key: ${{ runner.os }}-npm-${{ hashFiles('**/package.json') }}
                restore-keys: |
                    ${{ runner.os }}-npm-

          - name: Install dependencies
            shell: bash
            run: npm install

          - name: Publish beta to NPM
            if: ${{ github.repository_owner == 'kearisp' }}
            shell: bash
            env:
                NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
            run: npm publish --provenance --tag beta
